chainlit
python-dotenv
langchain
langchain-openai
langchain-qdrant
langchain-community
langchain-huggingface
qdrant-client
tiktoken
PyMuPDF
langgraph
wikipedia
openai
pydantic
requests
beautifulsoup4
typing-extensions
unstructured